In [14]:
import pandas as pd

In [15]:
df = pd.read_csv("Details_dataset.csv")

In [16]:
df.head()

,Order ID,Amount,Profit,Quantity,Category,Sub-Category,PaymentMode
0,B-25681,1096,658,7,Electronics,Electronic Games,COD
1,B-26055,5729,64,14,Furniture,Chairs,EMI
2,B-25955,2927,146,8,Furniture,Bookcases,EMI
3,B-26093,2847,712,8,Electronics,Printers,Credit Card
4,B-25602,2617,1151,4,Electronics,Phones,Credit Card

In [17]:
df.isnull().sum()

Order ID        0
Amount          0
Profit          0
Quantity        0
Category        0
Sub-Category    0
PaymentMode     0
dtype: int64

In [18]:
df.duplicated().sum()

np.int64(0)

In [19]:
df.columns

Index(['Order ID', 'Amount', 'Profit', 'Quantity', 'Category', 'Sub-Category',
       'PaymentMode'],
      dtype='object')

In [20]:
df.groupby("PaymentMode")["PaymentMode"].count()

PaymentMode
COD            684
Credit Card    163
Debit Card     202
EMI            120
UPI            331
Name: PaymentMode, dtype: int64

In [21]:
df.drop_duplicates()

,Order ID,Amount,Profit,Quantity,Category,Sub-Category,PaymentMode
0,B-25681,1096,658,7,Electronics,Electronic Games,COD
1,B-26055,5729,64,14,Furniture,Chairs,EMI
2,B-25955,2927,146,8,Furniture,Bookcases,EMI
3,B-26093,2847,712,8,Electronics,Printers,Credit Card
4,B-25602,2617,1151,4,Electronics,Phones,Credit Card
...,...,...,...,...,...,...,...
1495,B-25700,7,-3,2,Clothing,Hankerchief,COD
1496,B-25757,3151,-35,7,Clothing,Trousers,EMI
1497,B-25973,4141,1698,13,Electronics,Printers,COD
1498,B-25698,7,-2,1,Clothing,Hankerchief,COD
1499,B-25993,4363,305,5,Furniture,Tables,EMI

In [22]:
df.sort_values(by="Order ID", ascending=True)

,Order ID,Amount,Profit,Quantity,Category,Sub-Category,PaymentMode
574,B-25601,80,-56,4,Electronics,Electronic Games,UPI
1479,B-25601,8,-2,3,Clothing,Hankerchief,Credit Card
1094,B-25601,66,-12,5,Clothing,Stole,UPI
1423,B-25601,1275,1148,7,Furniture,Bookcases,EMI
839,B-25602,119,-5,8,Clothing,Saree,Credit Card
...,...,...,...,...,...,...,...
1460,B-26099,9,3,1,Clothing,Skirt,COD
1005,B-26099,207,37,4,Clothing,Hankerchief,COD
279,B-26100,34,10,2,Clothing,T-shirt,Debit Card
819,B-26100,72,16,2,Clothing,Shirt,COD
90,B-26100,828,230,2,Furniture,Chairs,COD